@font-face {
    font-family: Digital;
    src: url(/fonts/G7_Segment_7a.ttf) format('truetype');
}
@font-face {
    font-family: Roboto;
    src: url(/fonts/Roboto-Light.ttf) format('truetype');
}
@font-face {
    font-family: Coolvetica;
    src: url(/fonts/Coolvetica_Rg_It.otf) format('truetype');
}